@model IEnumerable<KalaMarket.DataLayer.Entities.Product.ProductColor>

@{
    ViewData["Title"] = "نمایش رنگ های محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-box">
    <h1>
        نمایش لیست رنگ ها
    </h1>
    <a class="btn btn-primary" asp-action="AddColor">
        افزودن
    </a>
    <a class="btn btn-default waves-effect" asp-action="Index">
        بازگشت
    </a>
    <br/>
    <br/>

    @if (TempData["Result"] != null)
    {
        if (TempData["Result"].ToString() == "added")
        {
            <div class="alert alert-success text-center">
                <p>رنگ جدید با موفقیت افزوده شد</p>
            </div>
        }
        else if (TempData["Result"].ToString() == "error")
        {
            <div class="alert alert-danger text-center">
                <p>عملیات نا موفق بود</p>
            </div>
        } else if (TempData["Result"].ToString() == "deleted")
        {
            <div class="alert alert-warning text-center">
                <p>رنگ با موفقیت حذف شد</p>
            </div>
        }
        <br/>
    }

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductColorCode)
            </th>
            <th>
                رنگ
            </th>
            <th>
                عملیات
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductColorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductColorCode)
                </td>
                <td>
                    <div style="background: @item.ProductColorCode; width: 40px; height: 40px"></div>
                </td>
                <td>
                    <a asp-action="EditColor" asp-route-id="@item.ProductColorId">
                        <i class="fa fa-pencil"></i>
                    </a> |
                    <a asp-action="DeleteColor" asp-route-id="@item.ProductColorId">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>